

<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title" *ngIf="results.length == 0">
				No Lists
			</h3>
			<h3 class="panel-title" *ngIf="results.length !== 0">
				Lists Added:
			</h3>
		</div>
	</div>
	<div *ngFor="let list of results" class="panel panel-body">
        <p>Name: {{list.name}}</p>
        <p>Type: {{list.type}}</p>
	</div>
	<br>
</div>